@import 'tailwindcss';
@plugin './hero.mjs';
@import '@heroui-v3/styles';
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.floating-text {
  font-family:
    'Microsoft YaHei',
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}

html {
  background: none !important;
  background-color: transparent !important;
}

.app-nodrag {
  -webkit-app-region: none;
}

.app-drag {
  -webkit-app-region: drag;
}

* {
  user-select: none;
}
